<template name="footer">
	<footer class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
				<small>
					Employed
					&nbsp;-&nbsp;
          <i class="fa fa-github fa-lg"></i>&nbsp;&nbsp;<a href="https://github.com/mekjr1/employed.co.mz" target="_blank">GitHub</a>
          &nbsp;-&nbsp;
					<i class="fa fa-rocket fa-lg"></i>&nbsp;&nbsp;<a href="https://www.meteor.com/hosting" target="_blank">Hosted on Galaxy</a>
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<br>
				<small>
					<i class="fa fa-rss"></i> RSS <a href="/rss/jobs" target="_blank">Jobs</a>
           <!-- <a href="/rss/profiles" target="_blank">Developers</a> -->
					&nbsp;-&nbsp;
					<i class="fa fa-code"></i> JSON <a href="/api/jobs" target="_blank">Jobs</a>
           <!-- <a href="/api/profiles" target="_blank">Developers</a> -->
				</small>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center" id="disclaimer">
				Employed is an independent jobs marketplace for Mexico and Mozambique.
			</div>
		</div>
	</footer>
</template>
