<template name="footer">
	<footer class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
				<small class="footer-brand">
					<img src="/images/logo.svg" alt="" class="footer-brand-logo" width="18" height="18" />
					<span>Employed</span>
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<br>
				<small>
					<i class="fa fa-rss" aria-hidden="true"></i> {{t 'footer.rss_label'}} <a href="/rss/jobs" target="_blank" rel="noopener noreferrer">{{t 'footer.jobs'}}</a>
					&nbsp;-&nbsp;
					<i class="fa fa-code" aria-hidden="true"></i> {{t 'footer.json_label'}} <a href="/api/jobs" target="_blank" rel="noopener noreferrer">{{t 'footer.jobs'}}</a>
					&nbsp;-&nbsp;
					<a href="/privacy">{{t 'legal.privacy_link'}}</a>
					&nbsp;-&nbsp;
					<a href="/terms">{{t 'legal.terms_link'}}</a>
				</small>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center" id="disclaimer">
				{{t 'footer.disclaimer'}}
			</div>
		</div>
	</footer>
</template>
