<template name="header">
    <section id="header">
        {{>connectionBanner}}
        {{>verifyEmailBanner}}
        <nav class="navbar navbar-default" role="navigation" aria-label="{{t 'nav.toggle'}}">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false" aria-label="{{t 'nav.toggle'}}">
                        <span class="sr-only">{{t 'nav.toggle'}}</span>
                        <span class="icon-bar" aria-hidden="true"></span>
                        <span class="icon-bar" aria-hidden="true"></span>
                        <span class="icon-bar" aria-hidden="true"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="/images/logo.svg" alt="" class="brand-logo" width="28" height="28" />
                        <span class="brand-name">{{activeMarketSiteName}}</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="main-nav-collapse">
                    <ul class="nav navbar-nav">
                        <li class="{{isActiveRoute regex='^jobs$'}}">
                            <a href="{{pathFor 'jobs'}}">{{t 'nav.all_jobs'}}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {{>localeMenu}}
                        {{#if currentUser}}
                            {{>headerUserMenu}}
                        {{else}}
                            <li class="{{isActiveRoute regex='signIn'}}">
                                <a href="{{pathFor 'signIn'}}">{{t 'action.sign_in'}}</a>
                            </li>
                            <li>
                                <a href="{{pathFor 'jobNew'}}" class="nav-post-job-btn">{{t 'nav.post_a_job'}}</a>
                            </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</template>

<template name="localeMenu">
    <li class="dropdown locale-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-label="{{t 'nav.language'}}" aria-haspopup="true">
            <i class="fa fa-globe fa-fw" aria-hidden="true"></i>
            <span class="hidden-xs"> {{localeLabel currentLocale}}</span>
            <span class="caret" aria-hidden="true"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            {{#each locales}}
                <li class="{{#if active}}active{{/if}}">
                    <a href="#" class="set-locale" data-locale="{{code}}" {{currentAttrs}}>{{label}}</a>
                </li>
            {{/each}}
        </ul>
    </li>
</template>

<template name="headerUserMenu">
    <li id="user-drop-down" class="dropdown">
        <a class="dropdown-toggle box-user-option" data-toggle="dropdown" href="#" aria-haspopup="true">
            <span class="header-avatar" aria-hidden="true">{{currentUserInitials}}</span>{{currentUserDisplayName}} <span class="caret" aria-hidden="true"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li>
                <a href="{{pathFor 'jobNew'}}"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> {{t 'nav.post_a_job'}}</a>
            </li>
            <li>
                <a href="{{pathFor 'myJobs'}}"><i class="fa fa-briefcase fa-fw" aria-hidden="true"></i> {{t 'nav.my_posted_jobs'}}</a>
            </li>
            <li class="divider"></li>
            {{#if showResendVerification}}
                <li><a href="#" id="resend-verification-menu"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> {{t 'nav.resend_verification'}}</a></li>
                <li class="divider"></li>
            {{/if}}
            {{#if isInRole 'admin'}}
                <li><a href="{{pathFor 'adminJobs'}}"><i class="fa fa-shield fa-fw" aria-hidden="true"></i> {{t 'nav.admin_jobs'}}</a></li>
                <li class="divider"></li>
            {{/if}}
            <li>
                <a href="#" id="userProfile"><i class="fa fa-user fa-fw" aria-hidden="true"></i> {{t 'nav.user_profile'}}</a>
            </li>
            <li>
                <a href="{{pathFor 'userAccount'}}"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> {{t 'account.title'}}</a>
            </li>
            <li class="divider"></li>
            <li><a href="#" id="signOut"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> {{t 'action.sign_out'}}</a></li>
        </ul>
    </li>
</template>

<template name="verifyEmailBanner">
    {{#if showUnverifiedBanner}}
        <div class="alert alert-warning verify-email-banner" role="alert">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            {{t 'verify.email_unverified' email=userEmail}}
            <a href="#" id="resend-verification-email">{{t 'verify.resend_link'}}</a>.
            {{#if resendStatus}}<span class="resend-status">{{resendStatus}}</span>{{/if}}
        </div>
    {{/if}}
</template>
