<template name="layout">
	<a href="#main-content" class="skip-link">{{t 'a11y.skip_to_content'}}</a>
	{{>yield region='header'}}
	<div id="content-wrapper" class="container">
		<main id="main-content" tabindex="-1">
			{{>yield}}
		</main>
	</div>
	{{>yield region='footer'}}
	{{>installPromptBanner}}
</template>

<template name="layoutNoContainer">
	<a href="#main-content" class="skip-link">{{t 'a11y.skip_to_content'}}</a>
	{{>yield region='header'}}
	<div id="content-wrapper">
		<main id="main-content" tabindex="-1">
			{{>yield}}
		</main>
	</div>
	{{>yield region='footer'}}
	{{>installPromptBanner}}
</template>
