<template name="myJobs">
	<div class="my-jobs-page">
		<div class="my-jobs-header">
			<h3>{{t 'mine.title'}}</h3>
			<a href="{{pathFor 'jobNew'}}" class="btn btn-primary my-jobs-cta">
				<i class="fa fa-plus" aria-hidden="true"></i> {{t 'mine.empty.cta'}}
			</a>
		</div>
		{{#each jobs}}
			{{>myJobRow}}
		{{else}}
			<div class="my-jobs-empty">
				{{t 'mine.empty.prefix'}} <a href="{{pathFor 'jobNew'}}">{{t 'mine.empty.cta'}}</a> {{t 'mine.empty.suffix'}}
			</div>
		{{/each}}
	</div>
</template>

<template name="myJobRow">
	<div class="jobSmall my-job-row {{#if featured}}featured{{/if}} panel panel-default">
		<div class="panel-body">
			<div class="job-card-inner">
				<div class="job-avatar {{avatarColorClass}}" aria-hidden="true">{{companyInitial}}</div>
				<div class="job-main">
					<div class="my-job-row-top">
						<a href="{{pathFor 'job'}}" class="job-title-link">{{title}}</a>
						<span class="status-badge status-{{status}}">{{statusLabel status}}</span>
					</div>
					<div class="job-meta">
						{{#if company}}<span><i class="fa fa-building" aria-hidden="true"></i> {{company}}</span>{{/if}}
						{{#if company}}{{#if location}}<span class="job-meta-sep" aria-hidden="true">·</span>{{/if}}{{/if}}
						{{#if location}}<span><i class="fa fa-map-marker" aria-hidden="true"></i> {{location}}</span>{{/if}}
						<span class="job-meta-sep" aria-hidden="true">·</span>
						<span><i class="fa fa-clock-o" aria-hidden="true"></i> {{formatDate createdAt}}</span>
					</div>
					<div class="my-job-row-actions">
						<a href="{{pathFor 'job'}}" class="btn btn-sm btn-default">{{t 'mine.action.view'}}</a>
						<a href="{{pathFor 'jobEdit'}}" class="btn btn-sm btn-default">{{t 'mine.action.edit'}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
